html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-color: whitesmoke;
}

.site-container {
  max-width: 1212px; /* 960px + 7rem both sides */
  margin: 0 auto;
}

.top-logo,
.banner,
nav,
main,
footer {
  padding: 0 7rem;
}

.flex-container {
  display: flex;
  align-items: center;
}

.top-logo {
  background-color: black;
}

.top-logo img {
  height: 1.5rem;
  padding: 0 0.5rem;

  //border: 2px dotted blue;
}

.top-logo p {
  padding: 0.66rem 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;


  //border: 2px dotted red;
}

.banner {
  height: 25rem;
  background-image: url("../media/images/moto.jpg");
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new-arrivals {
  position: absolute;
  top: 9rem;
  width: 25rem;
  background-color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.new-arrivals p {
  padding: 2rem 0 0.125rem 3rem;
  font-size: 1rem;
}

.new-arrivals h1 {
  padding: 0.125rem 0 2rem 3rem;
  font-size: 2rem;
}

#menu {
  
}

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.nav-btn {
  display: inline;
}

main {
  background-color: white;
}
.showroom {
  padding: 3rem 0 1.5rem 0;
  justify-content: space-between;
}

.gadget-item {
  width: 30%;
  border: 4px solid black;
  flex-direction: column;
  flex-wrap: nowrap;
}

.img-container {
  background-color: white;
  height: 9rem;
  margin: 2rem auto;
}

.img-container img {
  height: auto;
  max-width: 9rem;
}

.item-title {
  background-color: black;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
  text-align: center;
}

.contact {
  justify-content: space-between;
  background-color: white;
  padding: 1.5rem 0 4rem 0;
}

.contact-item {
  width: 35%;
}

.tab-title {
  background-color: black;
  padding: 1rem 0 0.5rem 2rem;
}

.contact-item p:nth-of-type(2) {
  color: black;
  padding-top: 0.5rem;
}

footer {
  background-color: black;
  height: 7.5rem;
}

@media only screen and (max-width: 1212px) {
  .top-logo,
  .banner,
  nav,
  main,
  footer {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .top-logo,
  .banner,
  nav,
  main,
  footer {
    padding: 0;
  }

  #gadget-3 {
    border-color: yellow;

  }

  .gadget-item {
    width: 47%;
  }


}
