html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-color: whitesmoke;
}

.site-container {
  width: 1212px; /* 960px + 7rem both sides */
  margin: 0 auto;
}

.top-logo,
.banner,
nav {
  padding: 0 7rem;
}

.flex-container {
  display: flex;
  align-items: center;
}

.top-logo {
  background-color: black;
}

.top-logo img {
  height: 1.5rem;
  padding: 0 0.5rem;

  //border: 2px dotted blue;
}

.top-logo p {
  padding: 0.66rem 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;


  //border: 2px dotted red;
}

.banner {
  height: 25rem;
  background-image: url("../media/images/moto.jpg");
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.new-arrivals {
  position: absolute;
  top: 9rem;
  width: 25rem;
  background-color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.new-arrivals p {
  padding: 2rem 0 0.125rem 3rem;
  font-size: 1rem;
}

.new-arrivals h1 {
  padding: 0.125rem 0 2rem 3rem;
  font-size: 2rem;
}

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.75rem 0;

  border: 2px dotted yellow;

}

.nav-btn {
  display: inline;
}
